<div>
  <div>
    <button>Features</button>
    <button>About</button>
    <button>Contact</button>
    <button (click)="login()">Sing In</button>
    <button (click)="register()">Register</button>
  </div>
  <div class="page aquae">
    <h1>Free online education website</h1>
    <h3>Best free website to help schools, teachers and students to achieve better education</h3>
    <video width="320" height="240" controls>
      <source src="movie.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="page antiquewhite">
    <h2>Features</h2>
    <h3>Online education enables teachers and students best experience online education. And it is absolutely free</h3>
  </div>
  <div class="page aquae">
    <h2>Gallery</h2>
    <h3>Interested how it looks?</h3>
    <div>Image 1</div>
    <div>Image 2</div>
    <div>Image 3</div>
  </div>
  <div class="page aquae">
    <div>
      <h2>Our Mission</h2>
      <h3>Our mission is to create tool to help teachers and students to achieve next level of education</h3>
      <button>Join now</button>
    </div>
  </div>
  <div>
    Made by Mile Prastalo, Novi Sad, Serbia
  </div>
</div>
