<div>
  <mat-toolbar>
    <div class>Eeducation</div>
    <span class="example-spacer"></span>
    <button mat-button (click)="login()">Login</button>
    <button mat-button (click)="register()">Register</button>
  </mat-toolbar>
  <mat-card class="small-card">
    <h1>Free online education website</h1>
    <h3>This platform is free to use and create</h3>
  </mat-card>
  <mat-card class="small-card">
    <h2>Create courses</h2>
    <h3>You have the ability to create and manage courses. Whether you are teacher or school, you can create better
      courses that ever before</h3>
  </mat-card>
  <mat-card class="small-card">
    <h2>Manage students</h2>
    <h3>Chose who gets to study your courses. You have full control who gets to join your school. Students can send you
      request to join your school or you can invite them</h3>
  </mat-card>
  <mat-card class="small-card">
    <h2>Grade students</h2>
    <h3>You have the ability to add grades to your students using test or manually</h3>
  </mat-card>
  <mat-card class="small-card">
    <h2>Manage absences</h2>
    <h3>Did student missed day in school or zoom meeting? You can use our system to keep track of absent students</h3>
  </mat-card>
  <mat-card class="small-card">
    <h2>Tests</h2>
    <h3>You can create tests for your students and choose do you want to grade them yourself or have automatic
      grading</h3>
  </mat-card>
  <div class="full-width">
    Made by Mile Prastalo, Novi Sad, Serbia
  </div>
</div>
