# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/eeducation-front/node_modules
eeducation-front/node_modules
# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/eeducation/.idea
eeducation/.project
eeducation/.classpath
eeducation/.c9/
eeducation/.settings/


# IDEs and editors
/eeducation-front/.idea
eeducation-front/.project
eeducation-front/.classpath
eeducation-front/.c9/
*.launch
eeducation-front/.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
