<app-navbar></app-navbar>
<div>
  <h1>{{lesson.name}}</h1>
  <quill-view [content]="content" theme="snow"></quill-view>
  <div>
    <h2 class="center">Comments</h2>
    <div class="comment" *ngFor="let comment of lesson.comments"><app-comment *ngIf="!comment.reply" [lesson]="lesson"
                                                               [comment]="comment"></app-comment></div>
  </div>
  <div>
    <mat-card class="create-lesson-card">
      <form class="form" [formGroup]="addCommentForm" (ngSubmit)="addCommentForm.valid && onCommentSubmit()">
        <mat-form-field class="field-full-width">
          <textarea id="commentText"
                    matInput
                    formControlName="commentText"
                    placeholder="commentText"></textarea>
          <mat-error>name can not be blank.</mat-error>
        </mat-form-field>
        <button mat-raised-button>Add comment</button>
      </form>
    </mat-card>
  </div>
  <div class="bottom">
    <button *ngIf="teacherPartOfCourse()" mat-raised-button color="warn" (click)="delete()">Delete lesson</button>
    <button *ngIf="teacherPartOfCourse() && (!lesson.linked)" mat-raised-button (click)="edit()">Edit lesson</button>
  </div>
</div>
