<div>
  <h1>{{lesson.name}}</h1>
  <h3>Lesson link: {{lesson.lessonLink}}</h3>
  <div id="lessonContent"></div>
  <div>
    <h2>Comments</h2>
    <span *ngFor="let comment of lesson.comments"><app-comment *ngIf="!comment.reply" [lesson]="lesson"
                                                               [comment]="comment"></app-comment></span>
  </div>
  <div>
    <mat-card class="create-lesson-card">
      <form class="form" [formGroup]="addCommentForm" (ngSubmit)="addCommentForm.valid && onCommentSubmit()">
        <mat-form-field class="field-full-width">
          <textarea id="commentText"
                    matInput
                    formControlName="commentText"
                    placeholder="commentText"></textarea>
          <mat-error>name can not be blank.</mat-error>
        </mat-form-field>
        <button mat-raised-button>Add comment</button>
      </form>
    </mat-card>
  </div>
  <button *ngIf="teacherPartOfCourse()" mat-raised-button color="warn" (click)="delete()">Delete lesson</button>
  <button *ngIf="teacherPartOfCourse()" mat-raised-button (click)="edit()">Edit lesson</button>

</div>
