button{
  margin: 5px;
}
app-comment{
  margin: 15px;
}
.center{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.comment{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
mat-form-field{
  width: 600px;

}
