<div>
  <app-navbar></app-navbar>
  <div class="form-wrapper">
    <mat-card class="box">
      <form class="form" [formGroup]="testForm">
        <mat-form-field class="field-full-width">
          <input id="name"
                 matInput
                 formControlName="name"
                 placeholder="name"/>
          <mat-error>name can not be blank.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input id="addDatePicker" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" matInput
                 formControlName="date"
                 [(ngModel)]="testDate" placeholder="Choose a date">
          <owl-date-time #dt1></owl-date-time>
        </mat-form-field>




        <mat-form-field class="field-full-width">
          <input id="duration"
                 matInput
                 type="number"
                 formControlName="duration"
                 placeholder="duration"/>
          <mat-error>duration can not be blank.</mat-error>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <mat-select id="testType"
                      matInput
                      formControlName="testType"
                      placeholder="Test type">
            <mat-option value="SELF_GRADING">Auto grading</mat-option>
            <mat-option value="TEACHER_GRADING">Manual grading</mat-option>
          </mat-select>
          <mat-error>type can not be blank.</mat-error>
        </mat-form-field>
      </form>
    </mat-card>
  </div>
  <div class="center questions">
    <h3>Questions:</h3>
    <ol>
      <li *ngFor="let question of questions">
        <h3>{{question.name}}</h3>
        <h4>{{getQuestionTypeString(question.questionType)}}</h4>
        <ul>
          <li *ngFor="let answer of question.answer">{{answer.answerText}}</li>
        </ul>
        <div *ngIf="question.questionType=='MULTIPLE_CHOICE'|| question.questionType=='CHECKBOXES'">
          <button mat-raised-button (click)="addAnswer(question)">Add answer</button>
        </div>
      </li>
    </ol>
    <button mat-raised-button (click)="addQuestion()">Add question</button>
  </div>
  <button mat-raised-button (click)="publishTest()">Create test</button>
</div>
