<div>
  <app-navbar></app-navbar>
  <div class="bottom">
    <mat-card class="create-lesson-card">
      <form class="form" [formGroup]="lessonForm" (ngSubmit)="lessonForm.valid && onLessonSubmit()">

        <mat-form-field class="field-full-width">
          <input id="name"
                 matInput
                 formControlName="name"
                 placeholder="name"/>
          <mat-error>name can not be blank.</mat-error>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input id="date"
                 matInput
                 formControlName="date"
                 placeholder="date"
                 [matDatepicker]="datePicker"
          />
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
          <mat-error>ends can not be blank.</mat-error>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <mat-select id="lessonType"
                      matInput
                      formControlName="lessonType"
                      placeholder="Lesson type">
            <mat-option value="NEW">New Lesson</mat-option>
            <mat-option value="LINK">Link lesson</mat-option>
          </mat-select>
          <mat-error>type can not be blank.</mat-error>
        </mat-form-field>
        <mat-form-field class="field-full-width" *ngIf="!displayToolBox()">
          <mat-select id="link"
                      matInput
                      formControlName="link"
                      placeholder="link">
            <mat-option *ngFor="let lesson of lessonLinks"
                        [value]="lesson.lessonContent">{{lesson.lessonName}}</mat-option>
          </mat-select>
          <mat-error>link can not be blank.</mat-error>
        </mat-form-field>
        <quill-editor (onContentChanged)="quillEditorChange($event)" id="quill" *ngIf="displayToolBox()">
        </quill-editor>
        <button mat-raised-button>Add lesson</button>
      </form>
    </mat-card>
  </div>


</div>
