.bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}
.bottom button{
  margin: 5px;
}

.cardMargin{
  width: 50%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.tabsCenter{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
